<!DOCTYPE html>
<html lang="en" ng-app="kanbanApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

 <!-- angular chart -->
  <link rel="stylesheet" href=
  "http://cdn.rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.css" type=
  "text/css" />

  <script src="http://cdn.rawgit.com/nnnick/Chart.js/master/Chart.min.js" type=
  "text/javascript">
  </script>

  <!-- font awesome -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.6.0/dist/progressbar.js"></script>

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>

  <!-- ui router -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

  <!-- satellizer -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.13.4/satellizer.min.js"></script>

  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js'></script>
  
  <script src=
    "http://cdn.rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.js"
    type="text/javascript">
  </script>
  
  <!-- custom script (angular app) -->
  <script type="text/javascript" src="scripts/app.js"></script>

  <!-- google fonts -->

  <link href='https://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>


  <title>Kanban</title>
</head>
<body ng-controller="MainController as main">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand" href="/">KANBAN</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">HOME</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="!main.currentUser()"><a ui-sref="signup">SIGN UP</a></li>
          <li ng-show="!main.currentUser()"><a ui-sref="login">LOG IN</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="profile">\{{main.currentUser().firstName}}</a></li>
          <li ng-show="main.currentUser()"><a ui-sref="logout">LOG OUT</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view>
      </div>
    </div>
  </div>
</body>
</html>