  <div class="page-header">
    <h3>
        {{goal.title}} {{goal.tasks.length}}
    </h3>
  </div>

  <form ng-submit="goals.addTask()">
    <h3>Add a new task</h3>
    <div class="form-group">
      <label for="task-description">Description</label>
      <input type="text" class="form-control" placeholder="Description" ng-model="goals.new_task.description"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>

  <div ng-repeat="task in goal.tasks">
    {{task.description}} <button ng-click="goals.deleteTask(task)">Delete</button>
  </div>
