<h2>kanban</h2>
<hr>
<p ng-show="main.currentUser()" ng-if="home.goals.length === 0">No goals yet.</p>

{{main.curentUser().goals}}

<div ng-if="home.goals.length > 0">
	<div ng-repeat="goal in home.goals">
		<a href="/goals/{{goal._id}}">{{goal.title}}</a>
		 - {{goal.goalDate | date: 'MMMM dd, yyyy'}}</p>
		 <button ng-click="home.deleteGoal(goal)">Delete</button>
	</div>
</div>

<div ng-show="main.currentUser()">
	<br>
	<h4>Add New Goal</h4>
	<hr>
	<form ng-show="main.currentUser()" ng-submit="home.createGoal()">
		<div class="form-group">
			<label for="goal-title">Title</label>
			<input type="text" class="form-control" ng-model="home.new_goal.title" id="goal-title" placeholder="Title">
		</div>
		<div class="form-group">
			<label for="goal-goalDate">Goal Date</label>
			<input type="date" class="form-control" ng-model="home.new_goal.goalDate" id="goal-goalDate" placeholder="Goal Date">
		</div>
		<input type="submit" value="Add Goal" class="btn btn-default">
	</form>
</div>
