 <div class="container" id="goalshow">
  <div class="row">
   <div class="col-md-6 col-md-offset-3"> 
  <div>  

    <h3 class="centertext" id="goaltitle">{{main.currentUser().firstName | uppercase}} {{main.currentUser().lastName | uppercase}}</h3>
    <hr>

<div class="centertext">
    <img class="pic img-circle" src="{{main.currentUser().picture}}"><br><br>

    <p><strong>Email:</strong> {{main.currentUser().email}}</p>
    <p><strong>First Name:</strong> {{main.currentUser().firstName}}</p>
    <p><strong>Last Name:</strong> {{main.currentUser().lastName}}</p><br>
  <a href="#" ng-click="profile.showEditForm=true" ng-hide="profile.showEditForm" class="btn btn-info"><i class="fa fa-pencil"></i> Edit Profile</a>
  </div>




  <form ng-show="profile.showEditForm" ng-submit="profile.updateProfile()">
     <div class="form-group">
      <input type="text" ng-model="profile.new_profile.firstName" class="form-control" placeholder="First Name">
    </div>
    <div class="form-group">
      <input type="text" ng-model="profile.new_profile.lastName" class="form-control" placeholder="Last Name">
    </div>
    <div class="form-group">
      <input type="text" ng-model="profile.new_profile.email" class="form-control" placeholder="Email">
    </div>
    <div class="centertext">
      <b>Picture: </b><br>
      <input id="profileimg" type="hidden" role="uploadcare-uploader"
         data-crop="disabled" /><br><br>
      <input type="submit" value="Save Profile" class="btn btn-info">
    </div>
  </form>
</div>
</div>
</div>
</div>
