#login {
	background: url("../images/dark_geometric.png");
	margin-top: -6%;
	height: 93vh;
	width: 100%;
	overflow-y: auto;
}

#goalshow {
	background: url("../images/brillant.png");
	margin-top: -6%;
	height: 93vh;
	width: 100%;
	overflow-y: auto;
}

.centertext {
	text-align: center;
}

.bottomspace {
	margin-bottom: 7%;
}

.navbar-default {
	background-color: #48525F;
	border-color: #48525F;
	margin-bottom: 6%;
}

.navbartext {
	color: #FFF;
}

.navbar-default .navbar-brand {
	color: #8EC6D4;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

#logintitle {
	font-family: 'Economica', sans-serif;
	font-size: 9em;
	color: #8EC6D4;
	margin-top: 5%;
}

#goaltitle {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 3em;
	margin-bottom: 4%;
}

#goodstatus {
	color: #56C74A;
	font-size: 1.5em;
}

.empty {
	color: red;
}

.pic {
	width: 140px;
	height: 140px;
}


